# =============================
# Git Whitelist Ignore File
# =============================
# This file sets git to ignore everything in this folder except for the README.md and the .gitignore file.
# ----------------------------

# Ignore all files and sub directories
*
# Exclude (whitelist) the .gitignore and the README.md from being ignored
!.gitignore
!README.md

